.categories-container {
    margin: 100px 0 0 0;
}

.categories-menu-section {
    display: flex;
    justify-content: center;
}
.categories-menu {
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #6D6D6D;
}

.each-category img{
    width: 280px;
    height: max-content;
    border-radius: 10px;
}

.each-category-text {
    color: #3E3E3E;
    text-align: center;
}

.each-category-text p {
    font-weight: bold;
    margin-top: 0;
}

.each-category-text h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.little-detail {
    color: #6D6D6D;
}

.shop-button-section {
    display: flex;
    justify-content: center;
}

.shop-button {
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #40196D;
    color: #fff;
}