.collections-area {
    margin-top: 150px;
}

.collections-area h2, p{
    text-align: center;
}

.collections-area h2 {
    color: #40196D;
    font-size: 28px;
    margin-bottom: 0;
}

.collections-subtext {
    font-weight: 600;
    color: #6D6D6D;
}

.each-collection img{
    width: 280px;
    height: max-content;
    border-radius: 10px;
}

.each-collection-text {
    text-align: center;
}

.each-collection-text p {
    color: #6D6D6D;
}

.each-collection-text h3 {
    color: #40196D;
}

.container-each-collection{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px 0 80px 0;
}

.explore-button-section {
    display: flex;
    justify-content: center;
}

.explore {
    width: 220px;
   
}