.collections-area {
  margin-top: 150px;
}

.collections-area h2,
p {
  text-align: center;
}

.collections-area h2 {
  color: #40196d;
  font-size: 28px;
  margin-bottom: 0;
}

.collections-subtext {
  font-weight: 600;
  color: #6d6d6d;
}

.each-collection img {
  width: 280px;
  height: max-content;
  border-radius: 10px;
}

.each-collection-text {
  text-align: center;
}

.each-collection-text p {
  color: #6d6d6d;
}

.each-collection-text h3 {
  color: #40196d;
}

.container-each-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 50px 0 80px 0;
}

.explore-button-section {
  display: flex;
  justify-content: center;
}

.explore {
  width: 220px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #40196d;
  color: #fff;
}

/* Responsiveness */

@media screen and (max-width: 768px) {
  .collections-area {
    margin-top: 300px;
  }

  .container-each-collection {
    gap: 10px;
    margin: 50px 15px 50px 15px;
    flex-wrap: unset;
    overflow-x: scroll;
    padding: 10px;
    justify-content: flex-start;
  }

  .container-each-collection::-webkit-scrollbar {
    display: none;
  }

  .collections-area h2 {
    font-size: 20px;
  }

  .collections-area p {
    font-size: smaller;
  }

  .each-collection h3 {
    font-size: small;
  }

  .each-collection p {
    font-size: 10px;
  }

  .explore {
    width: 250px;
  }
}
