.main-container{
    margin: 150px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 44px;
    color: #40196D;
}

.main-text-area p{
    width: 40vw;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: left;
}

.jumbo-image-container{
    margin-top: -120px;
}

.jumbo-image{
    height: 635px;
    width: 552px;
}

.white-button{
    background-color: #fff;
    color: #40196D;
    border: 1px solid #40196D;
}

.button-section{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.button-section button{
    width: 180px;
}