.main-container{
    margin: 150px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 44px;
    color: #40196D;
}

.main-text-area p{
    letter-spacing: 1px;
    font-size: 20px;
    text-align: left;
}

.jumbo-image-container{
    margin-top: -120px;
}

.jumbo-image{
    height: 635px;
    width: 552px;
}

.shop-adire-button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #40196D;
    color: #fff;
}

.white-button{
    background-color: #fff;
    color: #40196D;
    border: 1px solid #40196D;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

.button-section{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.button-section button{
    width: 180px;
}


/* Responsiveness */

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        margin: 50px 40px 0 40px;
    }

    h1 {
        font-size: 22.5px;
        text-align: center;
    }

    br {
        display: none;
    }

    .main-text-area {
        text-align: center;
    }

    .main-text-area p{
        /* width: 80%; */
        letter-spacing: 1px;
        font-size: 12.5px;
        text-align: center;
    }

    .jumbo-image{
        height: 250px;
        width: 300px;

    }

    .jumbo-image-container{
        margin-top: -420px;
    }

    .button-section{
        margin-top: 350px;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}